
<!-- Welcome Page -->
<app-welcome *ngIf="!showForm" (startRegistration)="showForm = true"></app-welcome>

<!-- register form -->
<div class="container " *ngIf="showForm">
    <app-form
      [name]="name"
      [email]="email"
      [address]="address"
      [phone]="phone"
      (saveClicked)="save($event)"
    ></app-form>
  </div>

<!-- Student Table -->
<div class="container" *ngIf="showForm">
    <h1 class="text-center">Student Table</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let StudentItem of StudentArray">
                <td>{{ StudentItem.name | uppercase }}</td>
                <td>{{StudentItem.email }}</td>
                <td>{{ StudentItem.address }}</td>
                <td>{{ StudentItem.phone }}</td>
                <td class="text-center">
                    <button class="btn btn-success" (click)="setUpdate(StudentItem)">Edit</button>
                    <button class="btn btn-danger" (click)="setDelete(StudentItem)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="navigate-btn">
        <button (click)="loadPreviousPage()" [disabled]="page === 1">Previous</button>
        <button (click)="loadNextPage()" [disabled]="!StudentArray || StudentArray.length < pageSize">Next</button>
    </div>
</div>
