body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #191717;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    text-align: center;
    color: #66ccff;
  }
  form {
    background-color: #333;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 5px;
  }
  label {
    font-weight: bold;
    color: #66ccff;
  }
  .form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #66ccff;
    background-color: #1a1a1a;
    color: #ffffff;
  }
  button {
    display: flex;
    background-color: #201f21;
    color: #ece3e3;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  button:hover {
    background-color: #679767;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #ffffff;
  }
  th,
  td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #555;
  }
  th {
    background-color: #333;
  }
  .text-center {
    text-align: center;
  }
  
  .btn {
    background-color: #337ab7;
    color: #fff;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .submit-btn{
    display:flex;
    justify-content:center;
  }
  .btn-success {
    background-color: #1ea91e;
  }
  .btn-danger {
    background-color: #d9534f;
  }
  .btn:hover {
    background-color: #286090;
  }
  .start-btn {
    display: flex;
    margin: 0 auto;
  }
  .navigate-btn {
    display: flex;
    justify-content: space-between;
  }
